<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Campground</title>
  </head>
  <body>
    <form class="" action="/campgrounds" method="post">
      <div class="">
        <label>Title:<input type="text" name="campground[title]" value=""></label>
      </div>
        <div class="">
          <label>Location:<input type="text" name="campground[location]" value=""></label>
        </div>
        <button>Add Campground!</button>
    </form>
    <a href="/campgrounds">All campgrounds</a>
  </body>
</html>
