<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Edit</title>
</head>
<body>
  <h1>Edit form</h1>
  <form method="post" action="/comments/<%= comment.id %>?_method=PATCH">
    <textarea style="resize: none" name="text" rows="8" cols="80">
      <%= comment.text %>
    </textarea>
    <button>Submit</button>
  </form>
</body>
</html>
