<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <h1>Make a new comment</h1>
  <form action="/comments" method="post">
    <section>
      <label>Name:
        <input type="text" name="user" placeholder="name">
      </label>
    </section>
    <section>
      <label>Text:<br>
        <textarea style="resize: none" name="text" rows="8" cols="80"></textarea>
      </label>
    </section>
    <button>Submit</button>
  </form>
</body>
</html>
