<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Templating</title>
</head>
<body>
  <h1>Home</h1>
  <p>Welcome to render home page</p>
  <p>Random number: <%= num %></p>
</body>
</html>
